aws-shell==0.1.1
awscli==1.11.132
boto3==1.4.5
botocore==1.5.95
certifi==2017.7.27.1
chardet==3.0.4
colorama==0.3.7
configobj==5.0.6
docutils==0.14
idna==2.5
jmespath==0.9.3
prompt-toolkit==1.0.15
pyasn1==0.3.2
Pygments==2.2.0
pymongo==3.5.0
python-dateutil==2.6.1
PyYAML==3.12
requests==2.18.3
rsa==3.4.2
s3transfer==0.1.10
six==1.10.0
urllib3==1.26.5
wcwidth==0.1.7
